<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Admin</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/scripts.js"></script>
    <link type="text/css" href="/css/styles.css" rel="stylesheet"/>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
    rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"/>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
            integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"
            integrity="sha384-u/bQvRA/1bobcXlcEYpsEdFVK/vJs3+T+nXLsBYJthmdBuavHvAW6UsmqO2Gd/F9" crossorigin="anonymous"></script>


</head>

<body class="gray-font">

<div id="wrapper">

    <div th:include="fragments :: header"></div>

    <div class="container-fluid">
        <p><h2>Admin Panel</h2></p>

        <div class="tabbable-panel">
            <div class="tabbable-line">
                <ul class="nav nav-tabs ">
                    <li class="active">
                        <a href="#usersTable" data-toggle="tab">Users table</a>
                    </li>
                    <li>
                        <a href="#newUser" data-toggle="tab">New user</a>
                    </li>

                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="usersTable">

                        <div align="center">
                            <table class="table table-bordred table-striped ml-auto" id="tableUsers">
                                <section class="text-info ">All users</section>
                                <thead class="thead-light">
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Password</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr scope="row" th:each="user : ${users}">
                                    <td th:text="${user.id}" id="user.id">${user.id}</td>
                                    <td th:text="${user.login}" id="user.login">${user.login}</td>
                                    <td th:text="${user.password}" id="user.password">${user.password}</td>
                                    <td th:text="${user.email}" id="user.email">${user.email}</td>
                                    <td th:text="${user.roles}" id="user.roles">${user.roles}</td>
                                    <td>

                                        <button id="editModalShow" class="btn btn-primary" value="Edit" >Edit</button>
                                        <a th:href="${'/admin/delete/' + user.id}" class="btn btn-primary">Delete</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div class="tab-pane" id="newUser">

                        <div th:include="fragments :: add"></div>
                    </div>

                </div>
            </div>
        </div>


        <div th:include="/modal/editUser"></div>
    </div>
</div>


</body>
</html>